.env
__pycache__/
audit_vector_store/
*.pdf
terraform.tfvars
.terraform
.terraform.lock.hcl
LICENSE.txt
terraform-provider-aws_v5.100.0_x5.exe
.terraform/
*.tfstate
*.tfstate.backup
.env
__pycache__/
.terraform/
github_deploy_key
github_deploy_key.pub
.terraform/
*.exe
